<div id="myTabContent" class="tab-content bg-light mt-5">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        data-bs-toggle="tab"
        href="/reservaciones"
        aria-selected="true"
        role="tab"
        >Reservaciones</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active"
        data-bs-toggle="tab"
        href="/reservanos"
        aria-selected="false"
        role="tab"
        tabindex="-1"
        >Reservanos</a
      >
    </li>
  </ul>

  <div class="tab-content mt-3">
    <div class="tab-pane fade active show" id="profile" role="tabpanel">
      <div class="mt-5"><h1>Reservanos</h1></div>
      <div class="row mt-3">
        <div class="col-lg-4">
          <div>
            <label class="col-form-label mt-4">Entrada predeterminada</label>
            <input
              type="text"
              class="form-control"
              placeholder="Entrada predeterminada"
            />
          </div>
        </div>
        <div class="col-lg-4">
          <div>
            <label class="col-form-label mt-4">Entrada predeterminada</label>
            <input
              type="text"
              class="form-control"
              placeholder="Entrada predeterminada"
            />
          </div>
        </div>
        <div class="col-lg-4">
          <div>
            <legend class="mt-4" _msttexthash="257712" _msthash="311">
              Botones de radio
            </legend>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="optionsRadios"
                id="optionsRadios1"
                value="option1"
                checked=""
              />
              <label
                class="form-check-label"
                for="optionsRadios1"
                _msttexthash="3427294"
                _msthash="312"
              >
                La primera opción es esto y aquello, asegúrate de incluir por
                qué es genial
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="optionsRadios"
                id="optionsRadios2"
                value="option2"
              />
              <label class="form-check-label" for="optionsRadios2">
                La opción dos puede ser otra cosa y, al seleccionarla, se
                anulará la selección de la opción uno
              </label>
            </div>
          </div>

          <div>
            <legend class="mt-4" _msttexthash="257712" _msthash="311">
              Botones de radio
            </legend>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="optionsRadios"
                id="optionsRadios1"
                value="option1"
                checked=""
              />
              <label
                class="form-check-label"
                for="optionsRadios1"
                _msttexthash="3427294"
                _msthash="312"
              >
                La primera opción es esto y aquello, asegúrate de incluir por
                qué es genial
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="optionsRadios"
                id="optionsRadios2"
                value="option2"
              />
              <label class="form-check-label" for="optionsRadios2">
                La opción dos puede ser otra cosa y, al seleccionarla, se
                anulará la selección de la opción uno
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
